<!-- app/templates/admin/records/records.html -->

{% import "bootstrap/utils.html" as utils %}
{% import "admin/records/page.html" as pg %}
{% extends "base.html" %}
{% block title %}Records{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Records</h1>
        
        
        {% if search_form %}
            {{ wtf.quick_form(search_form) }}
        {% endif %}
        
        <!--
        <div class="center">
            <form method="post" action="{{url_for('admin.list_paged_records', page=1)}}">
            <input type="text" name="search_id" id="search_id" placeholder="name">
            <input type="submit" value="search">
            </form>
        </div>
        -->
        {% if page_data %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Time </th>
                  <th width="15%"> Name </th>
                  <th width="15%"> Contents </th>
                  <th width="15%"> PatientName </th>
                  <th width="10%"> Edit </th>
                  <th width="25%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for record in page_data.items %}
                <tr>
                  <td>
                    {{ record.time }}
                  </td>
                  <td> 
                    <a href="{{ url_for('admin.show_record', id=record.id) }}">
                      <i class="fa fa-file"></i> {{ record.name }}  
                    </a>
                  </td>
                  <td>
                    {{ record.description }}
                  </td>
                  <td>
                    {% if record.patient_name %}
                      {{ record.patient_name }}
                    {% else %}
                      -
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('admin.edit_record', id=record.id) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_record', id=record.id) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                    </tr>
              {% endfor %}
              
                <tfoot>
                        <div class="pagination-info pull-left">共有{{ page_data.total }}条，每页显示：{{ page_data.per_page }}条
                        </div>
                </tfoot>
                
              </tbody>
            </table>
                        {{ pg.my_paginate(page_data, 'admin.list_paged_records') }}
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No Records have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
        {% if current_user.is_admin %}
          <a href="{{ url_for('admin.add_record') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Record
          </a>
        {% else %}
          <a href="{{ url_for('user.add_record', id=current_user.id) }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Record
          </a>
        
        {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}