<!-- app/templates/user/records/record.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_record %}
        Add Record
    {% else %}
      {% if add_record %}
        Edit Record
      {% else %}
        Show Record
      {% endif %}
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_record %}
                <h1>Add Record</h1>
            {% else %}
              {% if add_record %}
                Edit Record
              {% else %}
                Show Record
              {% endif %}
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}