{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
Hello World DApp

{% endblock %}
{% block body %}
<div class="content-section">
 <div class="center">
  <h1>Current r</h1>
  <table class="table table-bordered">
   <thead>
    <tr>
     <th>Name</th>
     <th>Current Hash Value</th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>{{ current_user.username }}</td>
     <td><p id="hash_val"></p></td>
    </tr>
   </tbody>
  </table>
 </div>
  <div class="center">
    <a href="#" onclick="getHash()" class="btn btn-primary">Put my record on chain.</a>
  </div>
  
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.2.6/dist/web3.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/blockchain.js') }}"></script>

</div>

{% endblock %}